#background-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: minmax(8px, 64px) minmax(auto, 1080px) minmax(16px, 64px);
    grid-template-rows: 2.4rem auto auto auto auto;
}

/*#column-1-style {
    grid-column: -2 / -1;
    grid-row: 1 / -1;
    background-image: linear-gradient(180deg, #f6d365 0%, #fda085 100%);
}*/

#header-section {
    grid-column-start: 2;

    grid-row-start: 1;

    word-spacing: 24px;
    margin-top: 2.4rem;

    font-family: 'Lato', sans-serif;
    font-size: 1.15rem;

    text-underline-position: above;



    border: #232323;

}



#title {
    grid-column-start: 2;
    grid-row-start: 2;

    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 3.85rem;
    line-height: 125%;



    color: #232323;
}

#intro-sentence {
    grid-column-start: 2;
    grid-row-start: 3;

    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    line-height: 170%;

    color: #232323;

    margin-top: -8px;
}

mark {
    background-image: linear-gradient(180deg, #ffff00 92%, #fda085 8%);
    color: 232323;
}

#intro-paragraph {
    grid-column-start: 2;
    grid-row-start: 4;

    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 1.30rem;
    line-height: 170%;

    color: #232323;
}

#footer {
    grid-column-start: 2;
    grid-row-start: 5;


    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;

    color: #232323;

    margin-top: 16px;
    margin-bottom: 48px;
}



#social-section {
    word-spacing: 24px;
}

#email a:link {
    color: pink;

    font-weight: 300;
}

/* unvisited link */
a:link {
    color: #6357FF;
    text-decoration: none;
    font-weight: bold;
}

/* visited link */
a:visited {
    color: #6357FF;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #fda085;

}

/* selected link */
a:active {
    color: blue;
}