.background-grid {
	display: grid;
	grid-gap: 8px;
	grid-template-columns: auto minmax(280px, 44rem) auto;
	grid-template-rows: auto auto auto auto auto;
}

.svg {
	width: 2em;
	height: 2em;
}

.svgStyle {
	width: 1em;
	height: 1em;
}

.socialIcons {
	/* Place the icon on the text baseline. */
	position: relative;
	top: 0.125em;
	margin-right: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	/* Prevent the icon from shrinking inside a flex container. */
	flex-shrink: 0;
	/* Scale the icon to match the font-size. */
	width: 2.5em;
	/* Let the icon take whatever color the parent has. */
	fill: currentColor;
	/*
     * If the icon is used on a link, which has a color transition,
     * we can also transition the fill.
    */
	transition: fill 0.3s;
}

/* NAVIGATION BAR */

#header-section {
	grid-column-start: 2;
	grid-row-start: 1;
	line-height: 280%;
	margin-top: 1.2rem;
	font-family: 'Lato', sans-serif;
	font-size: 1.15em;
	border: #232323;
	width: 100%;
}

/* Navigation link padding */
a.nav-link {
	margin-right: 36px;
}

/* Unvisited Navigation links */
a:link.nav-link {
	color: #6357ff;
	text-decoration: none;
	font-weight: bold;
}

/* visited Navigation link */
a:visited.nav-link {
	color: #6357ff;
	text-decoration: none;
}

/* mouse over Navigation link */
a:hover.nav-link {
	color: #ff5f33;
}

/* selected Navigation link */
a.active-link {
	color: #6357ff;
	border-bottom: #fda085 4px solid;
	padding-bottom: 8px;
}

/* Article title links */
a.articleTitleLink {
	color: inherit;
	text-decoration: none;
}

a:visited.articleTitleLink {
	color: inherit;
	text-decoration: none;
}

a:hover.articleTitleLink {
	color: #ff5f33;
}

/* H1 TITLE */
.main-page-title {
	grid-column-start: 2;
	grid-row-start: 2;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 3.75rem;
	margin-top: 24px;
	color: #232323;
}

/* SUBTITLE index page */

.bio-intro-sentence {
	grid-column-start: 2;
	grid-row-start: 3;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	font-size: 2rem;
	line-height: 170%;
	margin-top: -8px;
	color: #232323;
	width: 100%;
}

.blog-page-list-title {
	grid-column-start: 2;
	grid-row-start: 2;
	font-family: 'Lato', sans-serif;
	color: #232323;
	font-size: 2rem;
	border-bottom: #232323 2px solid;
	width: 9.29rem;
}

.blog-description-card {
	grid-column-start: 2;
	grid-row-start: inherit;
	font-family: 'Lato', sans-serif;
}

.article-title {
	font-size: 1.8rem;
	color: #232323;
	/* line-height: 1.4; */
	margin: 0;
	padding-bottom: 16px;
}

/* a {
	margin: 0;
} */

.projectLink {
	font-size: 1.1rem;
	margin-bottom: 0px;
}

a:visited.projectLink {
	color: #6357ff;
}

a:hover.projectLink {
	color: #6357ff;
	color: #ff5f33;
}

.publish-date {
	color: #4e687a;
	margin-top: -0.5rem;
	margin-bottom: -0.5rem;
}

.background-title-square {
	position: absolute;
	background-color: #ffff00;
	transform: rotate(17deg);
	margin-bottom: -48px;
	margin-left: -64px;
	height: 56px;
	width: 88px;
	z-index: -1;
	padding-left: 8px;
}

.tag-label-1 {
	background-color: #85f8f8;
	width: 8rem;
	border-radius: 16%;
	padding: 8px 12px 8px 12px;
	margin-right: 8px;
}

.tag-label-2 {
	background-color: #a1cdf9;
	width: 8rem;
	border-radius: 16%;
	padding: 8px 12px 8px 12px;
	margin-right: 8px;
}

.tag-label-3 {
	background-color: #f88a8a;
	width: 8rem;
	border-radius: 16%;
	padding: 8px 12px 8px 12px;
	margin-right: 8px;
}

.tag-label-4 {
	background-color: #d1a8fa;
	width: 8rem;
	border-radius: 16%;
	padding: 8px 12px 8px 12px;
	margin-right: 8px;
}

.tag-label-4-PROJECTS {
	background-color: #d1a8fa;
	width: 8rem;
	border-radius: 16%;
	padding: 8px 12px 8px 12px;
}

.read-time {
	font-style: italic;
	color: #232323;
	padding-top: 16px;
	margin: 0;
}

.article-description {
	font-size: 1.15rem;
	line-height: 120%;
	color: #232323;
	margin: 0;
}

.project-description {
	font-size: 1.1rem;
	line-height: 140%;
	color: #232323;
	margin-top: 0px;
}

.topic-tag {
	color: #232323;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.8rem;

	padding-top: 14px;
	padding-bottom: 8px;
}

.published-platform {
	padding-top: 8px;
	margin: 0px;

	color: #4e687a;
	font-size: 0.8rem;
	text-transform: uppercase;
	padding-bottom: 56px;
}

.projectSource {
	padding-top: 0px;
	margin: 0px;

	color: #4e687a;
	font-size: 0.8rem;
	text-transform: uppercase;
	padding-bottom: 56px;
}

/* Text highlight colour */

mark {
	background-image: linear-gradient(180deg, #ffff00 92%, #fda085 8%);
	color: #232323;
}

.bio-paragraph {
	grid-column-start: 2;
	grid-row-start: 4;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 1.28rem;
	line-height: 170%;
	color: #232323;
	width: 100%;
}

/* Footer / Social */

a.socialLinks {
	color: #0a09a2;
	text-decoration: none;
}

a:visited.socialLinks {
	color: #0a09a2;
	text-decoration: none;
}

a:hover.socialLinks {
	color: #0a09a2;
	text-decoration: none;
}

.footer {
	grid-column-start: 2;
	grid-row-start: 8;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	line-height: 80%;
	margin-bottom: 1.5rem;
	color: #232323;
}

#social-section {
	word-spacing: 16px;
}
